:root {
    /* --font-size: 24px;
    --font-family: 'Hanken Grotesk', sans-serif;
    --bg-col: rgba(233, 233, 233, 1);
    --txt-col: rgba(0,0,0,1);
    --article-col:rgb(129, 255, 196);
    --section-bg:rgb(252, 86, 255);
    --button-activebg:rgb(246, 0, 250);
    --button-innerbg: rgba(207, 189, 219, 0.747); */

    --font-size: 24px;
    --font-family: 'Hanken Grotesk', sans-serif;
    --bg-col: rgb(58, 46, 46);
    --txt-col: rgb(232, 230, 216);
    --article-col:rgb(48, 0, 67);
    --section-bg: rgba(67, 51, 73, 0.865);
    --button-activebg:rgb(167, 117, 168);
    --button-innerbg: rgba(67, 51, 73, 0.865);
}



/*BODY*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:var(--bg-col);
    color: var(--txt-col);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height:2.85em;
    text-align:start;
    -webkit-font-smoothing: antialiased;
}

h1 {
    display:revert;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;  
    padding-inline-start: 0px;
}


/*HEADER*/
.header_main {
    width: 100vw;
    max-width:100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content:center;
}



/* HEADER - BUTTONS */
.button {
    background-color:var(--section-bg); 
    border:none;
    shape-outside: circle();
    clip-path: circle(150px);
    font-size: 1.5em;
    width:300px;
    height:300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;        
    
}

.firstInner {
    background-color: var(--button-innerbg); 
    padding:140px;
    clip-path: circle(147px);
}



.btnName {
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5), 0px -1px 1px rgba(255, 255, 255, 0.25);
}
  
.righttoLeft {
    display:none;
    min-width: 800px;
    text-align: left;

}

.button:hover .btnName, .button:focus .btnName {
    display:none;
    transition: 4s;
}

.button:hover .righttoLeft, .button:focus .righttoLeft {
    display:block;
    animation: righttoLeft 10s infinite linear;
  }
  
  @keyframes righttoLeft {
    0% {
    transform: translateX(60%);
    }
    100% {
      transform:translateX(-120%);
    } 
  }


.button:hover, .button:focus {
    background-color: var(--button-activebg); 
    transition: 1s;
}

.button:active {
    background-color: #81b9ff;
}








/* INDIVIDUAL BUTTONS STYLING */



.firstInner.work {
    animation: bounce 2s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    
    &:hover{
        animation-play-state:paused;
    }
}

/* WORK BUTTON ANIMATION */
@keyframes bounce {
    from { clip-path: circle(120px);}
    to   { clip-path: circle(130px); }
  }









/* Access Settings pop up */
.modal {
    padding:1em;
    max-width: 100ch;
    margin:auto;
    background-color:var(--bg-col);
    color: var(--txt-col);

    & > * {
        margin: 0 0 0.5rem 0;
    }
}







/* Body Section */
.container {
    /* position: relative; */
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    max-width: 100%;
}

.section {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word; 
    -moz-hyphens: auto;
    hyphens: auto;
    background-color: var(--section-bg);
    overflow-wrap: break-word; 
    font-size: 1.3em;
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    padding: 1em;
}

.section h1 {
    font-size: 2.4em;
    padding: 0.5em;
}

.section h2 {
    font-size: 2.2em;
    padding: 0.5em 0 0.5em 0;
}

.article1 {
    background-color: var(--article-col);
    margin:0.5em;
    padding: 0.6em;
    font-size: 2em;
    border-radius: 0.25em;
}

.article1 img {
    max-width: 1000px;
    width:100%;
    /* padding: 0.5em; */
}

.article1 h2 {
    font-size: 1em;
}

.article1 p {
    padding: 0.5em 0 0.5em 0;
}











/*ID SECTIONS*/

#header {
    opacity:1;
    transition: opacity 0.5s;
}

#about {
    /* min-height: 100vh;
    max-width: 100%;
    padding: 3rem;*/
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr;
    /* display: flex;
    flex-flow: column wrap;*/
    align-items:start; 
    text-align: left; 
    opacity:1;
    transition: opacity 0.5s;
}

  
#about h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self:center;
} 


#about .article1 {
    grid-column: 2/4;
    grid-row: 2/5;
}

#portrait {
    padding: 1em;
    justify-self:center;
    grid-column: 1/2;
    grid-row: 2/3;
}


#work {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8em 5em repeat(5, auto) 5em repeat(2, auto);
    opacity:1;
    transition: opacity 1s;
}

#work h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self:center;
} 


#fc {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self:center;
} 

#odvar {
    grid-column: 2/4;
    grid-row: 3/4;
    opacity:1;
    transition: opacity 1s;
}

#website {
    grid-column: 1/3;
    grid-row: 4/5;
    opacity:1;
    transition: opacity 1s;
}

#pong {
    grid-column: 2/4;
    grid-row: 5/6;
    opacity:1;
    transition: opacity 1s;
}

#moviedata {
    grid-column: 1/3;
    grid-row: 6/7;
    opacity:1;
    transition: opacity 1s;
}

#memorygame {
    grid-column: 2/4;
    grid-row: 7/8;
    opacity:1;
    transition: opacity 1s;
}

#fl {
    grid-column: 1/3;
    grid-row: 8/9;
    justify-self: center;
    align-self: center;
}

#freelance {
    grid-column: 1/3;
    grid-row: 9/10;
    opacity:1;
    transition: opacity 1s;
}

#freelance2 {
    grid-column: 2/4;
    grid-row: 10/11;
    opacity:1;
    transition: opacity 1s;
}




#dev {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(54, 54, 200);  */
    opacity:1;
    transition: opacity 0.5s;
}

#from {
    /* min-height: 100vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    opacity:1;
    transition: opacity 0.5s;
}

#contact {
    /* min-height: 100vh;
    background-color: blue; */
    opacity:1;
    transition: opacity 0.5s;
}

