:root {
    --font-size: 30px;
    --bg-col: rgb(233, 233, 233);
    --txt-col: black;
}


/*BODY*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:var(--bg-col);
    color: var(--txt-col);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--font-size);
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;  
    padding-inline-start: 0px;
}


/*HEADER*/
.header_main {
    width: 100vw;
    max-width:100%;
    min-height: 100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.menucontainer {
    justify-self: center;
    align-self: center;
    display:grid;
    grid-template-columns: repeat(4, minmax(1fr, 2fr) );
    grid-template-rows: repeat(4, minmax(1fr,2fr) );
}


/* HEADER - BUTTONS */
.button {
    background-color: rgb(252, 86, 255);
    border:none;
    shape-outside: circle();
    clip-path: circle();
    padding: 4rem;
    font-size: var(--font-size);
    overflow: hidden;
}

.btnName {
    display:block;
}
  
.righttoLeft {
    display:none;
    font-size: inherit;
}

.button:hover .btnName, .button:focus .btnName {
    display:none;
}

.button:hover .righttoLeft, .button:focus .righttoLeft {
    /* background-color: #4a2fff; */
    /* padding:0.5rem; */
    /* transition: 0.5s; */
    display:block;
    animation: righttoLeft 10s infinite linear;
  }
  
  @keyframes righttoLeft {
    0% {
    transform: translateX(70%);
    }
    100% {
      transform:translateX(-100%);
    } 
  }


.button:hover, .button:focus {
    background-color: #758404;
    /* padding:0.5rem; */
    transition: 0.5s;
}

.button:active {
    background-color: #81b9ff;
}



.button.work {
    color: rgb(0, 255, 123);
}

.button.access {
    color: rgb(255, 204, 0);
}

.button.contact {
    color: rgb(255, 204, 0);
}

.container {
    /* position: relative; */
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.section {
    height: auto;
    font-weight: 400;
    display:grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    background-color: rgb(255, 51, 122);
    /*grid-gap:0.5rem;*/
}

.article1 {
    background-color: rgb(129, 255, 196);
    margin:1rem;
    font-size: var(--font-size);
}







/*ID SECTIONS*/


/* #about::after {
    content: "\a";
    white-space: pre;
} */

#work {
    background-color: rgb(144, 144, 254);
}

#access {
    background-color: rgb(13, 13, 81);
}

#dev {
    background-color: rgb(54, 54, 200);
}

#from {
    background-color: rgb(43, 43, 149);
}

#contact {
    background-color: blue;
}