
/*BODY*/

body {
    margin: 0;
    background-color: black;
    font-family: 'Hanken Grotesk', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;  
    /* margin: 1rem; */
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}



/*GRIDS*/

.menucontainer {
    display:grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(13, 1fr);
    
}

.menucontent {
    padding: 1rem;
    background-color: rgb(252, 86, 255);
    border-radius: 1.35rem;
    margin:0.125rem;
}

.menucontent.about {
    color: blue;
    grid-column: 1 / 3;
    grid-row: 1 / 13;
}

.menucontent.work {
    color: rgb(0, 255, 123);
    grid-column: 3 / 4;
    grid-row: 1 / 7;
}

.menucontent.contact {
    color: rgb(255, 204, 0);
    grid-column: 3 / 4;
    grid-row: 7 / 13;
}

.menucontent.access {
    color: rgb(255, 204, 0);
    grid-column: 4 / 5;
    grid-row: 1 / 7;
}

.menucontent.dev {
    color: blue;
    grid-column: 4 / 5;
    grid-row: 7 / 10;
}

.menucontent.from {
    color: rgb(0, 255, 123);
    grid-column: 4 / 5;
    grid-row: 10 / 11;
}

.container {
    position: relative;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap:0.125rem;
}

.section {
    font-weight: 400;
    display:grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    margin: 1rem;
    background-color: rgb(255, 51, 122);
    /*grid-gap:0.5rem;*/
}

.article1 {
    background-color: rgb(129, 255, 196);
    margin:1rem;
}



/*ID SECTIONS*/

#about {
    background-color: rgb(206, 206, 255);   
}

#work {
    background-color: rgb(144, 144, 254);
}

#access {
    background-color: rgb(13, 13, 81);
}

#dev {
    background-color: rgb(54, 54, 200);
}

#from {
    background-color: rgb(43, 43, 149);
}

#contact {
    background-color: blue;
}